.container {
    padding: 16px;
}

.full-width {
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.modal-dialog{text-align:center;}
.modal-content{display:inline-block;}